{% extends "base.html" %}
 {% block content %}
<h1>Edit Information</h1>
    <div class="login-form">
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <!-- Input box-->
    <div style="margin:0 auto;width:450px">
    <form action="" method="post" name="create">
      {{ form.hidden_tag() }}
      <p>
          <br><br>
          Age:
           {{ form.age }}
           {% for error in form.age.errors %}
                <span style="color: red;">{{ error }}</span>
           {% endfor %}<br><br><br>
          Gender:
          <br><br>
          <div style="position:relative;left:40%">
          {{ form.gender }}<br><br>
          </div>
         Phone number:
          {{ form.phone_number }}<br><br><br>
          Submit:
           {{ form.submit }}<br>
      </p>
     </form>
    </div>
</form>
    </div>
<br><br>
<br><br>
{% endblock %}