<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Introduce bootstrap framework and CSS files-->
    {% if title %}
    <title>SHIELD - {{ title }}</title>
    {% else %}
    <title>SHIELD</title>
    {% endif %}

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <link href="/static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/static/css/zoomslider.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/modernizr-2.6.2.min.js"></script>
    <!--/web-fonts-->
    <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--//web-fonts-->

</head>
<body>
<!--/main-header-->
  <!--/banner-section-->
	<div id="demo-1" class="banner-inner">
	 <div class="banner-inner-dott">
		<!--/header-w3l-->
			   <div class="header-w3-agileits" id="home">
			     <div class="inner-header-agile part2">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					<h1><a  href="index.html"><span>S</span>hi<span>E</span>ld</a></h1>
				</div>
				<!-- navbar-header -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
						<li class="active"><a href="/">HOME</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">LOCATION <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<li>
								<div class="col-sm-4">
									<ul class="multi-column-dropdown">
										<li><a href="genre.html">Chongqing</a></li>
										<li><a href="genre.html">Chengdu</a></li>
										<li><a href="genre.html">Beijing</a></li>
										<li><a href="genre.html">Hangzhou</a></li>
										<li><a href="horror.html">Hainan</a></li>
										<li><a href="genre.html">Tianjing</a></li>
										<li><a href="genre.html">Changsha</a></li>
										<li><a href="genre.html">Nanjing</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<ul class="multi-column-dropdown">
										<li><a href="genre.html">Yunnan</a></li>
										<li><a href="comedy.html">Shanxi</a></li>
										<li><a href="genre.html">Wuhan</a></li>
										<li><a href="genre.html">Dalian</a></li>
										<li><a href="genre.html">Shanghai</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<ul class="multi-column-dropdown">
										<li><a href="genre.html">Heilongjiang</a></li>
										<li><a href="genre.html">Guangzhou</a></li>
										<li><a href="genre.html">Shenzhou</a></li>
										<li><a href="genre.html">Zhujiang</a></li>
										<li><a href="genre.html">Linyi</a></li>
										<li><a href="genre.html">Suzhou</a></li>
									</ul>
								</div>
								<div class="clearfix"></div>
								</li>
							</ul>
						</li>
						<li><a href="/list">List</a></li>
						<li><a href="/poster_upload">Upload</a></li>
						<li><a href="contact.html">APP-Download</a></li>
						<li><a href="/login" class="login" >Login</a></li>
						<li><a href="/register" class="login reg" >Register</a></li>

					</ul>

					</div>
					<div class="clearfix"> </div>
				</nav>
					<div class="w3ls_search">
									<div class="cd-main-header">
										<ul class="cd-header-buttons">
											<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
										</ul> <!-- cd-header-buttons -->
									</div>
									<div id="cd-search" class="cd-search">
										<form action="#" method="post">
											<input name="Search" type="search" placeholder="Search...">
										</form>
									</div>
								</div>

			</div>

			   </div>
		<!--//header-w3l-->
		</div>
    </div>
  <!--/banner-section-->
 <!--//main-header-->

		     <!-- Modal1 -->
			<!-- //Modal1 -->
						<!-- breadcrumb -->
	<div class="w3_breadcrumb">
	<div class="breadcrumb-inner">
			<ul>
				<li><a href="index.html">HOME</a><i>//</i></li>
				<li>LIST</li>
			</ul>
		</div>
	</div>
<!-- //breadcrumb -->
			<!--/content-inner-section-->
				<div class="w3_content_agilleinfo_inner">
						<div class="agile_featured_movies">
						<div class="inner-agile-w3l-part-head">
					            <h3 class="w3l-inner-h-title">MOVIE LIST</h3>
								<p class="w3ls_head_para">ADD SHORT DESCRIPTION</p>
							</div>
				                   <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								<div class="agile-news-table">
									<table id="table-breakpoint">
										<thead>
										  <tr>
											<th>NO.</th>
											<th>MOVIE NAME</th>
											<th>YEAR</th>
											<th>STATUS</th>
											<th>COUNTRY</th>
											<th>GENRE</th>
											<th>RATING</th>
										  </tr>
										</thead>
										<tbody>
										{% for movie in movies %}
										  <tr>
											<td>{{movie.movie_id}}</td>
											<td class="w3-list-img"><a href="single.html"><img src="/static/images/{{movie.poster}}" width="35" height="60" alt="" /> <span>Swiss Army Man</span></a></td>
											<td>{{movie.premiere_date}}</td>
											<td>{{movie.special_effect}}</td>
											<td class="w3-list-info"><a href="genre.html">{{movie.country}}</a></td>
											<td class="w3-list-info"><a href="comedy.html">{{movie.movie_type}}</a></td>
											<td>{{movie.score}}</td>
										  </tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

						</div>
				</div>
			</div>
			<!--//content-inner-section-->


	<!--/footer-bottom-->
	<div class="contact-w3ls" id="contact">
		<div class="footer-w3lagile-inner">

				<div class="footer-grids w3-agileits">



						<div class="col-md-2 footer-grid">
							<div class="clearfix"> </div>
						</div>


					</div>
					<div class="col-md-2 footer-grid">


						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<h3 class="text-center follow">CONTECT <span>US</span></h3>
					<ul class="social-icons1 agileinfo">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>

		 </div>

		</div>
		<div class="w3agile_footer_copy">
					<p>SHIELD</p>
		</div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

		<script src="js/jquery-1.11.1.min.js"></script>
			<!-- Dropdown-Menu-JavaScript -->
		<script src="js/dropdown.js"></script>
				<!-- //Dropdown-Menu-JavaScript -->


		<script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
				<!-- search-jQuery -->
						<script src="js/main.js"></script>
					<script src="js/simplePlayer.js"></script>
					<script src="js/searcy.js"></script>

					<!-- pop-up-box -->
				<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
			<!--//pop-up-box -->

					<div id="small-dialog1" class="mfp-hide">
					<iframe src=""></iframe>
			</div>
			<div id="small-dialog2" class="mfp-hide">
				<iframe src=""></iframe>
			</div>
			<script src="js/aaa.js"></script>
		<script src="js/easy-responsive-tabs.js"></script>
		<script src="js/bbb.js"></script>
		<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/owl.carousel.js"></script>
		<script src="js/ccc.js"></script>

		<!--/script-->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>

		<script src="js/ddd.js" type="text/javascript"></script>
		 <script src="js/eee.js" type="text/javascript"></script>
		<!--end-smooth-scrolling-->
			<script src="js/bootstrap.js"></script>





</body>
</html>
