<!DOCTYPE html>
<html>
<head>
<title>Individual Center</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/print.css">


<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- pop-up -->
<link href="../static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<link href="../static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="../static/css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<link href="../static/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript" src="../static/js/modernizr-2.6.2.min.js"></script>
<!--/web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
<!--/main-header-->
  <!--/banner-section-->
<div id="demo-1" class="banner-inner">
	 <div class="banner-inner-dott">
		<!--/header-w3l-->
			   <div class="header-w3-agileits" id="home">
			     <div class="inner-header-agile part2">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					<h1><a  href="index.html"><span>S</span>hi<span>E</span>ld</a></h1>
				</div>
				<!-- navbar-header -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
<li class="active"><a href="/">HOME</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">LOCATION <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<li>
								<div class="col-sm-4">
									<ul class="multi-column-dropdown">
										<li><a href="genre.html">Chongqing</a></li>
										<li><a href="genre.html">Chengdu</a></li>
										<li><a href="genre.html">Beijing</a></li>
										<li><a href="genre.html">Hangzhou</a></li>
										<li><a href="horror.html">Hainan</a></li>
										<li><a href="genre.html">Tianjing</a></li>
										<li><a href="genre.html">Changsha</a></li>
										<li><a href="genre.html">Nanjing</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<ul class="multi-column-dropdown">
										<li><a href="genre.html">Yunnan</a></li>
										<li><a href="comedy.html">Shanxi</a></li>
										<li><a href="genre.html">Wuhan</a></li>
										<li><a href="genre.html">Dalian</a></li>
										<li><a href="genre.html">Shanghai</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<ul class="multi-column-dropdown">
										<li><a href="genre.html">Heilongjiang</a></li>
										<li><a href="genre.html">Guangzhou</a></li>
										<li><a href="genre.html">Shenzhou</a></li>
										<li><a href="genre.html">Zhujiang</a></li>
										<li><a href="genre.html">Linyi</a></li>
										<li><a href="genre.html">Suzhou</a></li>
									</ul>
								</div>
								<div class="clearfix"></div>
								</li>
							</ul>
						</li>
						<li><a href="/list">List</a></li>
						<li><a href="/poster_upload">Upload</a></li>
						<li><a href="contact.html">APP-Download</a></li>
						<li><a href="/login" class="login" >Login</a></li>
						<li><a href="/register" class="login reg" >Register</a></li>

						</ul>

					</div>
					<div class="clearfix"> </div>
				</nav>
					<div class="w3ls_search">
									<div class="cd-main-header">
										<ul class="cd-header-buttons">
											<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
										</ul> <!-- cd-header-buttons -->
									</div>
									<div id="cd-search" class="cd-search">
										<form action="#" method="post">
											<input name="Search" type="search" placeholder="Search...">
										</form>
									</div>
								</div>

			</div>

			   </div>
		<!--//header-w3l-->
		</div>
    </div>
  <!--/banner-section-->
 <!--//main-header-->


						<!-- breadcrumb -->
	<div class="w3_breadcrumb">
		<div class="breadcrumb-inner">
			<ul>
				<li><a href="index.html">Home</a><i>//</i></li>
				<li>PERSONAL CENTER</li>
			</ul>
		</div>
	</div><br><br>


<div id="LEFT" style="position:relative;left:25%;float:left">
{% if user.avatar %}<br><br>
<img class="img-rounded profile-thumbnail" src="../static/images/{{user.avatar}}" width="300" height="200"><br><br><br>
{% endif %}

<h2>{{user.user_name}}</h2><br><br>
  <p>Number of views:  <span class="badge">{{ user.orders.count() }}</span> &nbsp |
    &nbsp <span class="label label-default">VIP level: {{ user.user_vip_level }}</span>
  </p>
</div>

<br><br><br>
<div id="RIGHT" style="position:relative;left:45%;float:left">
{% if user.mail or user.gender or user.age or user.phone_number %}
<p><br>
  {% if user.mail %}
  Email: {{ user.mail }}
  {% endif %}<br><br><br>
  {% if user.gender %}
  Gender: {{ user.gender }}
  {% endif %}<br><br><br>
  {% if user.age %}
  Age: {{ user.age }}
  {% endif %}<br><br><br>
  {% if user.phone_number %}
  Phone number: {{ user.phone_number }}
  {% endif %}<br><br><br>
</p><br>
{% endif %}

<a href="{{url_for('home')}}">
<button class="btn btn-primary btn-sm">
    Improve profile
</button>
</a>

</div>

<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<div class="w3agile_footer_copy">
	<p>SHIELD</p>
</div>
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>