{% extends 'base.html' %}

{% block content %}
    <h1>REGISTER</h1>
<br>
    <div class="login-form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.password_confirm.label }}<br>
            {{ form.password_confirm(size=64) }}<br>
            {% for error in form.password_confirm.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <br>
        <p>
           <input type="submit" value="REGISTER NOW">
        </p>
        <br>
        <p>
            HAS AN ACCOUNT?<a href="/login">HIT HERE!</a>
        </p>
    </form>
    </div>
{% endblock %}