{% extends "base.html" %}
{% block content %}
<head>
<title>List</title>

</head>
<body>
	<!--/content-inner-section-->
	<div class="w3_content_agilleinfo_inner">
			<div class="agile_featured_movies">
			<div class="inner-agile-w3l-part-head">
					<h3 class="w3l-inner-h-title">Movie List</h3>
				</div>
					   <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
					<div class="agile-news-table">

						<table id="table-breakpoint">
							<thead>
							  <tr>
								<th>Name</th>
                                <th>Scenes</th>
								<th>Date</th>
								<th>Start time</th>
								<th>Finish time</th>
								<th>Projection hall</th>
                                <th>Price</th>
							  </tr>
							</thead>
							<tbody>
							  {% for movie in movies%}
							  <tr>
                                 {%if movie.scene > 0 %}
                                    <td>{{movie.movie_name}}</td>
                                    <td>{{movie.scene}}</td>
                                    <td>{{movie.date}}</td>
                                    <td>{{movie.start_time}}</td>
                                    <td >{{movie.finish_time}}</td>
                                    <td >{{movie.projection_hall}}</td>
                                    <td>{{movie.price}}</td>
                                    <td><a href="/delete_scene/{{movie.movie_id}}"><button type="button" class="btn btn-upload" style="color: gray">Delete</button></a></td>
                                 {%endif%}
							  </tr>
							  {% endfor %}

							</tbody>
						</table>
					</div>
				</div>

			<!--//content-inner-section-->

				<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



<br><br><br>
</body>
{%endblock%}
