{% extends 'base.html' %}
{% block content %}
<title>Upload New Movie</title>

<body>
	<div class="w3_breadcrumb">
		<div class="breadcrumb-inner">
			<ul>
				<li><a href="index.html">Home</a><i>//</i></li>
				<li>New movie</li>
			</ul>
		</div>
	</div>
			<!--/content-inner-section-->
	<div class="w3_content_agilleinfo_inner">
		<div class="agile_featured_movies">
			<div class="inner-agile-w3l-part-head">
				<h3 class="w3l-inner-h-title">New movie</h3>
				<p class="w3ls_head_para">Please fill in the movie information</p>
			</div>
			<div class="login-form">
				<form action="/poster_upload" enctype='multipart/form-data' method='POST'>
					{{ form.hidden_tag() }}
					<div style="margin-left:5%;width:40%;float:left">
						Movie name:<br>
						{{ form.movie_name(cols='80',class_='form-control') }}<br>
						{% for error in form.movie_name.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
						Movie type:<br>
						{{ form.movie_type(cols='80',class_='form-control') }}<br>
						{% for error in form.movie_type.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
						Length:<br>
						{{ form.movie_length(cols='80',class_='form-control') }}<br>
						{% for error in form.movie_length.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
						Country:<br>
						{{ form.country(cols='80',class_='form-control') }}<br>
						{% for error in form.country.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
						Premiere date:<br>
						{{ form.premiere_date(cols='80',class_='form-control') }}<br>
						{% for error in form.premiere_date.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
						Special effect:<br>
						{{ form.special_effect(cols='80',class_='form-control') }}<br>
						{% for error in form.special_effect.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
						Initial score:<br>
						{{ form.score(cols='80',class_='form-control') }}<br>
						{% for error in form.score.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
					</div>

					<div style="margin-right:5%;width:40%;float:right">
						Director:<br>
						{{ form.director(cols='80',class_='form-control') }}<br>
						{% for error in form.director.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br>
						Actors:<br>
						{{ form.actors(cols='80',class_='form-control') }}<br>
						{% for error in form.actors.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br><br>
						Poster:<br>
						{{ form.poster(cols='80',class_='form-control') }}<br>
						{% for error in form.poster.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br><br><br>
						Introduction:<br>
						{{ form.introduction(cols='80',rows='10',class_='form-control') }}<br>
						{% for error in form.introduction.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}<br><br><br>

						<input type="submit"  value="Submit">
					</div>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul class="flash">
								{% for message in messages %}
									<div class="alert alert-success" style="text-align: center">
										<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
										<strong>{{ message }}</strong></div>
								{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}
					<div class="clearfix"> </div>
				</form>
		</div>
		</div>
	</div>
</body>
{%endblock%}
